<div class="panel panel-success">
    <div class="panel-heading">
        <h2>It's always better to know each other ..!!</h2>
    </div>
    <div class="panel-body">
        <div class="col-xs-12">
            <h1>Know About Us </h1>
            <p class="small"><b>||</b> read about our vision, mission &amp; goal</p>
            <hr/>
        </div>
        <div class="col-xs-12">
            <div class="well">
                <legend><b>Our Mission</b></legend>
                <p class="text-justify"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                    more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="well">
                <legend><b>Our Vision</b></legend>
                <p class="text-justify"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                    more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="well">
                <legend><b>Our Goal</b></legend>
                <p class="text-justify"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                    more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="text-right">
                <!-- <h1>Social Links</h1> -->
                <hr/>
                <p class="social-links">
                    <a target="_blank" href="//facebook.com/sakib042"><i class="fa fa-facebook fa-2x"></i></a>&nbsp;
                    <a target="_blank" href="//linkedin.com/in/nazmus-sakib-9583b250/"><i class="fa fa-linkedin fa-2x"></i></a>&nbsp;
                    <a target="_blank" href="//behance.net/sakib0426496"><i class="fa fa-behance fa-2x"></i></a>&nbsp;
                    <a target="_blank" href="//stackoverflow.com/users/8511274/nazmus-sakib"><i class="fa fa-stack-overflow fa-2x"></i></a>&nbsp;
                    <a target="_blank" href="//github.com/sakib042"><i class="fa fa-github fa-2x"></i></a>&nbsp;
                    <a target="_blank" href="//plus.google.com/+MdNazmusSakib042"><i class="fa fa-google-plus fa-2x"></i></a>&nbsp;
                    <a target="_blank" href="mailto://sakib042@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>&nbsp;
                    <a target="_blank" href="//w3-app.com/profile"><i class="fa fa-globe fa-2x"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>