input.ng-invalid.ng-touched {
    border: 1px solid red;
    box-shadow: 0px 0px 1px red;
}

.alert-position {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 99;
}

.alert {
    padding: 30px;
    font-weight: bold;
}