.main-section {
    position: absolute;
    top: 50px;
    bottom: 30px;
    left: 5%;
    right: 0;
    width: 95%;
    height: calc(100%-80px);
    padding: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}