<div class="sidebar">
    <ul>
        <li routerLinkActive="active" routerLink="/characters">
            <i class="fa fa-home fa-2x"></i><br/>Home
        </li>
        <li routerLinkActive="active" routerLink="/new-character">
            <i class="fa fa-list fa-2x"></i><br/>Add New
        </li>
        <li routerLinkActive="active" routerLink="/project">
            <i class="fa fa-dashboard fa-2x"></i><br/>Project
        </li>
        <li routerLinkActive="active" routerLink="/contact">
            <i class="fa fa-phone fa-2x"></i><br/>Contact
        </li>
        <li routerLinkActive="active" routerLink="/about">
            <i class="fa fa-globe fa-2x"></i><br/>About
        </li>
    </ul>
    <div class="copyright">
        <p><code>version 1.0.0</code></p>
    </div>
</div>