<div class="addFormStyle" [ngClass]="addFormMain?'addFormStyleAdd':'addFormStyleRemove'">
    <h1 *ngIf="status==0" class="text-center">Add Game Information</h1>
    <h1 *ngIf="status==99" class="text-center"><i class="fa fa-spinner fa-spin fa-lg"></i>&nbsp;&nbsp;Adding..!</h1>
    <h1 *ngIf="status==200" class="text-center">Added Successfully..!</h1>
    <hr/>
    <form *ngIf="status==0" (ngSubmit)="addGame(form)" #form="ngForm">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" name="name" required="required" ngModel #name="ngModel" />
            </div>
            <div class="form-group">
                <label for="owner">Owner</label>
                <input class="form-control" type="text" name="owner" required="required" ngModel #owner="ngModel" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" class="form-control" rows="5" style="resize:none" ngModel></textarea>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="rating">Rating</label>
                <input class="form-control" type="hidden" name="rating" [ngModel]="starSelected" />
                <p class="form-control add-rating" style="background-color:#5DA93C">
                    <i (click)="star(1)" [ngClass]="rate1?'addYellow':''" class="fa fa-star fa-lg"></i>&nbsp;
                    <i (click)="star(2)" [ngClass]="rate2?'addYellow':''" class="fa fa-star fa-lg"></i>&nbsp;
                    <i (click)="star(3)" [ngClass]="rate3?'addYellow':''" class="fa fa-star fa-lg"></i>&nbsp;
                    <i (click)="star(4)" [ngClass]="rate4?'addYellow':''" class="fa fa-star fa-lg"></i>&nbsp;
                    <i (click)="star(5)" [ngClass]="rate5?'addYellow':''" class="fa fa-star fa-lg"></i>
                </p>
            </div>
            <div class="form-group">
                <label for="platform">Platform</label>
                <select name="platform" class="form-control" [(ngModel)]="selectedPlatform" name="platform">
                    <option *ngFor="let option of platformOptions" [ngValue]="option.value">{{option.display}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="availability">Availability</label>
                <select name="availability" class="form-control" [(ngModel)]="selectedAvailability" name="availability">
                    <option *ngFor="let option of availabilityOptions" [ngValue]="option.value">{{option.display}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="image_url">Image URL</label>
                <input class="form-control" type="text" name="image_url" ngModel />
            </div>
        </div>
        <div class="col-xs-12 col-sm-12">
            <div class="form-group text-right">
                <hr/>
                <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid"><i class="fa fa-save fa-lg"></i>&nbsp;&nbsp;Save</button>
                <button type="button" (click)="removeAddForm()" class="btn btn-danger btn-lg"><i class="fa fa-times fa-lg"></i>&nbsp;&nbsp;Cancel</button>
            </div>
        </div>
    </form>
</div>